//700px, 900px, 1440px
$breakpoints: (
  "medium": 43.75em,
  "large": 56.25em,
  "xlarge": 90em,
);

:root {
  --breakpoint-medium: #{calc(map-get($breakpoints, medium) / 1em)};
  --breakpoint-large: #{calc(map-get($breakpoints, large) / 1em)};
  --breakpoint-xlarge: #{calc(map-get($breakpoints, xlarge) / 1em)};
}

@mixin breakpoint($size) {
  @media (min-width: map-get($breakpoints, $size)) {
    @content;
  }
}
