@use "utility" as *;

body {
  font-family: var(--ff-main);
  color: hsl(var(--c-text-main));
  background-color: hsl(var(--c-bg-main));
  @include modeTransition;
}

::selection {
  color: hsl(var(--c-text-dark));
  background-color: hsl(var(--c-accent-main));
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

img {
  user-select: none;
}
label {
  display: block;
}
