@use "typography" as *;

.text-input {
  position: relative;

  label {
    @extend .text-b-m;
    color: hsl(var(--c-neutral));

    .dark & {
      color: hsl(var(--c-text-dark));
    }

    & + input[type="text"],
    & + textarea {
      margin-top: 0.6154em;
    }
  }

  &.empty {
    &::before {
      content: "Can't be empty";
      position: absolute;
      right: 1.2308em;
      bottom: calc(0.75em);
      color: hsl(var(--c-accent-danger));
    }
    textarea,
    input[type="text"] {
      border-color: hsl(var(--c-accent-danger));
    }
  }

  textarea {
    resize: none;
    min-width: 100%;
    max-width: 100%;
    min-height: 7rem;
  }
  textarea,
  input[type="text"] {
    @extend .text-b-l;
    display: block;
    position: relative;

    width: 100%;
    padding: 0.6154em 1.2308em;

    background-color: transparent;
    border: 1px solid hsl(var(--c-neutral) / 25%);
    border-radius: 4px;
    outline: none;

    &::placeholder {
      color: hsl(0 0% 0% / 25%);
    }
    .dark & {
      &::placeholder {
        color: hsl(0 0% 100% / 25%);
      }
    }
  }
}
