.flow {
  --flow-size: 1rem;
  & > *:where(:not(:last-child)) {
    margin-bottom: var(--flow-size);
  }
}

.mock-modal {
  background-color: hsl(var(--c-bg-main-light));
  width: 100%;
  padding: 2rem;
  border-radius: 6px;
}
