.flow {
  --flow-size: 1rem;
  & > *:where(:not(:last-child)) {
    margin-bottom: var(--flow-size);
  }
}

.mock-modal {
  background-color: hsl(var(--c-bg-main-light));
  width: 100%;
  padding: 2rem;
  padding-bottom: 10rem;
  border-radius: 6px;
}

@mixin modeTransition {
  transition: background-color 250ms ease-out, color 275ms ease-out,
    border-color 250ms ease-out;
}

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
  & * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
  }
}
