:root {
  --c-text-main: hsl(212, 27%, 19%);
  --c-text-medium: hsl(213, 9%, 39%);
  --c-text-light: hsl(232, 10%, 55%);
  --c-text-verylight: hsl(210, 4%, 67%);
  --c-text-white: hsl(0, 100%, 100%);
  --c-text-accent1: hsl(167, 40%, 24%);
  --c-text-accent1-light: hsl(168, 34%, 41%);
  --c-text-accent2: hsl(198, 62%, 26%);

  --c-bg-accent1: hsl(168, 44%, 70%);
  --c-bg-accent2: hsl(200, 100%, 62%);
  --c-bg-accent3: hsl(51, 100%, 49%);
}
