* {
  box-sizing: border-box;
}

html,
input,
button {
  font-family: var(--ff-main), sans-serif;
}

body {
  margin: 0;
  background-color: var(--c-bg-light);
}

h1,
h2,
h3,
p {
  margin: 0;
}

:root {
  --c-bg-white: #ffffff;
  --c-bg-verylight: #f8f9ff;
  --c-bg-light: #eff5ff;
  --c-bg-medium: #d6d9e6;
  --c-bg-dark: #022959;
  --c-bg-dark-active: #164a8a;
  --c-text-white: #ffffff;
  --c-text-medium: #9699aa;
  --c-text-dark: #022959;
  --c-accent-main: #483eff;
  --c-accent-main-light: #928cff;
  --c-accent-secondary: #bee2fd;
  --c-accent-negative: #ee374a;
}

:root {
  --ff-main: "Ubuntu";
  --fs-100: 0.75rem;
  --fs-300: 0.875rem;
  --fs-400: 0.9375rem;
  --fs-500: 1rem;
  --fs-700: 1.25rem;
  --fs-800: 1.5rem;
  --fs-900: 2rem;
}

.form {
  position: relative;
  padding-top: 6.19rem;
}
.form header h1 {
  margin-bottom: 0.375em;
}
.form header p {
  color: var(--c-text-medium);
  font-size: 1rem;
  line-height: 1.56;
  margin-bottom: 1.375em;
}
.form .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 6.19rem);
}
.form .step {
  background-color: var(--c-bg-white);
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1.5rem;
  padding: 2rem 1.5rem;
  border-radius: 10px;
}
.form .step button {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  width: 100%;
  background-color: transparent;
  border: 1px solid var(--c-bg-medium);
  border-radius: 8px;
  margin-bottom: 0.75em;
  padding: 0 1em;
  transition: border-color 100ms ease-in-out, background-color 100ms ease-in-out;
}
.form .step button.selected {
  border-color: var(--c-accent-main);
  background-color: var(--c-bg-verylight);
}
.form .step button img {
  grid-column: 1;
  grid-row: span 2;
  margin-right: 0.875em;
}
.form .step button p {
  grid-column: 2;
  text-align: left;
}
.form .step button p.name {
  font-size: var(--fs-500);
  font-weight: 500;
  color: var(--c-text-dark);
  margin-top: 0.875em;
  margin-bottom: 0.4375em;
}
.form .step button p.price {
  font-size: var(--fs-300);
  color: var(--c-text-medium);
  margin-bottom: 1.29em;
}
.form .input-group {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 1em;
}
.form .required-text {
  display: none;
  font-size: var(--fs-100);
  font-weight: 700;
  color: var(--c-accent-negative);
  transform: translateY(-3px);
}
.form .required-text.required {
  display: inline;
}
.form .interval-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--fs-300);
  font-weight: 700;
  color: var(--c-text-medium);
  margin-top: 1.5rem;
  padding: 0.875em;
  background-color: var(--c-bg-verylight);
  border-radius: 8px;
}
.form .interval-toggle span {
  transition: color 100ms ease-in-out;
}
.form .interval-toggle .active {
  color: var(--c-text-dark);
}
.form .interval-toggle .toggler {
  width: 38px;
  height: 20px;
  background-color: var(--c-bg-dark);
  border: none;
  border-radius: 38px;
  margin: 0;
  margin-left: 1.5em;
  margin-right: 1.5em;
  position: relative;
}
.form .interval-toggle .toggler .circle {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  background-color: var(--c-bg-white);
  border-radius: 12px;
  transition: transform 100ms ease-in-out;
}
.form .interval-toggle .toggler .circle.active {
  transform: translateX(18px);
}
.form label {
  display: inline-block;
  color: var(--c-text-dark);
  font-size: var(--fs-100);
  margin-bottom: 0.25em;
}
.form input {
  color: var(--c-text-dark);
  font-size: var(--fs-400);
  font-weight: 500;
  padding: 0.8em 0.9375em;
  width: 100%;
  border-color: var(--c-bg-medium);
  border-style: solid;
  border-radius: 4px;
  outline-color: var(--c-accent-main);
}
.form input.required {
  border-color: var(--c-accent-negative);
  outline-color: var(--c-accent-negative);
}
.form input::-moz-placeholder {
  color: var(--c-text-medium);
}
.form input::placeholder {
  color: var(--c-text-medium);
}
.form .form-nav {
  padding: 1rem;
  display: flex;
  background-color: var(--c-bg-white);
}
.form .form-nav button {
  font-size: var(--fs-300);
  font-weight: 700;
  color: var(--c-text-medium);
  background: none;
  border: none;
}
.form .form-nav button.fancy {
  margin-left: auto;
  color: var(--c-text-white);
  background-color: var(--c-bg-dark);
  min-width: 6.06rem;
  padding: 0.875em 1.15em;
  border-radius: 4px;
  font-weight: 500;
}
.form .form-nav button.fancy.confirm {
  background-color: var(--c-accent-main);
}

.progress {
  position: absolute;
  width: 100%;
  height: 172px;
  top: 0;
  z-index: -1;
  display: flex;
  justify-content: center;
  gap: 1rem;
  background-color: var(--c-accent-main);
  background-image: url("./images/bg-sidebar-mobile.svg");
  background-size: cover;
}
.progress .marker {
  margin-top: 2rem;
}
.progress .marker .number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33px;
  height: 33px;
  border-radius: 33px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  font-size: var(--fs-300);
  font-weight: 700;
}
.progress .marker .number.active {
  background-color: var(--c-accent-secondary);
  border-color: var(--c-accent-secondary);
  color: var(--c-text-dark);
}
.progress .marker .label {
  display: none;
}
.progress .marker .name {
  display: none;
}/*# sourceMappingURL=main.css.map */