* {
  box-sizing: border-box;
}

html,
input,
button {
  font-family: var(--ff-main), sans-serif;
}

body {
  margin: 0;
  color: var(--c-text-dark);
  background-color: var(--c-bg-light);
}

h1,
h2,
h3,
p {
  margin: 0;
}

:root {
  --c-bg-white: #ffffff;
  --c-bg-verylight: #f8f9ff;
  --c-bg-light: #eff5ff;
  --c-bg-medium: #d6d9e6;
  --c-bg-dark: #022959;
  --c-bg-dark-active: #164a8a;
  --c-text-white: #ffffff;
  --c-text-light: #abbcff;
  --c-text-medium: #9699aa;
  --c-text-dark: #022959;
  --c-accent-main: #483eff;
  --c-accent-main-light: #928cff;
  --c-accent-secondary: #bee2fd;
  --c-accent-negative: #ee374a;
}

:root {
  --ff-main: "Ubuntu";
  --fs-100: 0.75rem;
  --fs-300: 0.875rem;
  --fs-400: 0.9375rem;
  --fs-500: 1rem;
  --fs-700: 1.25rem;
  --fs-800: 1.5rem;
  --fs-900: 2rem;
}

@media (min-width: 1000px) {
  main {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto 1fr;
  }
}
.form {
  position: relative;
  padding-top: 6.19rem;
}
@media (min-width: 1000px) {
  .form {
    grid-row: 2;
    display: flex;
    padding: 1rem;
    margin: 1rem auto;
    max-width: 940px;
    height: 600px;
    background-color: var(--c-bg-white);
    border-radius: 15px;
  }
}
.form header h1 {
  margin-bottom: 0.375em;
}
@media (min-width: 1000px) {
  .form header h1 {
    font-size: var(--fs-900);
  }
}
.form header p {
  color: var(--c-text-medium);
  font-size: var(--fs-500);
  line-height: 1.56;
  margin-bottom: 1.375em;
}
@media (min-width: 1000px) {
  .form header p {
    margin-bottom: 2.25em;
  }
}
.form .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: calc(100vh - 6.19rem);
}
@media (min-width: 1000px) {
  .form .content {
    height: auto;
  }
}
.form .step {
  background-color: var(--c-bg-white);
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1.5rem;
  padding: 2rem 1.5rem;
  border-radius: 10px;
  max-width: 450px;
  min-width: min(100% - 2rem, 450px);
}
@media (min-width: 1000px) {
  .form .step {
    margin: 0;
    padding-top: 2.5rem;
    padding-left: 6.25rem;
    padding-right: 6.25rem;
    max-width: initial;
    min-width: calc(450px + 12.5rem);
  }
}
.form .step.thanks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.form .step.thanks img {
  width: 56px;
  margin-bottom: 1.5em;
}
@media (min-width: 1000px) {
  .form .step.thanks img {
    width: 80px;
  }
}
.form .step.thanks a {
  font-weight: 500;
  color: var(--c-accent-main);
  text-decoration: none;
}
.form .step.thanks a:hover, .form .step.thanks a:active {
  opacity: 0.75;
}
.form .step button {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  width: 100%;
  background-color: transparent;
  border: 1px solid var(--c-bg-medium);
  border-radius: 8px;
  margin-bottom: 0.75em;
  padding: 0 1em;
  transition: border-color 75ms ease-in-out, background-color 75ms ease-in-out;
}
.form .step button.selected {
  border-color: var(--c-accent-main);
  background-color: var(--c-bg-verylight);
}
.form .step button img {
  grid-column: 1;
  grid-row: span 3;
  align-self: flex-start;
  margin-right: 0.875em;
  margin-top: max(1.065em, 35%);
}
@media (min-width: 1000px) {
  .form .step button img {
    margin-top: 1.25rem;
    margin-bottom: 2.5rem;
  }
}
.form .step button p {
  grid-column: 2;
  text-align: left;
}
.form .step button p.name {
  font-size: var(--fs-500);
  font-weight: 500;
  color: var(--c-text-dark);
  margin-top: 0.875em;
  margin-bottom: 0.4375em;
}
@media (min-width: 1000px) {
  .form .step button p.name {
    margin-top: 0;
    margin-bottom: 0.4375em;
  }
}
.form .step button p.price {
  font-size: var(--fs-300);
  color: var(--c-text-medium);
  margin-bottom: 0.4375em;
}
.form .step button p.savings {
  font-size: var(--fs-100);
  color: var(--c-text-dark);
}
.form .step button p:last-of-type {
  margin-bottom: 1.29em;
}
.form .step button.addons-button {
  grid-template-columns: auto 1fr auto;
}
@media (min-width: 1000px) {
  .form .step button.addons-button {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
.form .step button.addons-button .img-container {
  grid-column: 1;
  grid-row: span 2;
  margin-right: 1rem;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  border: 1px solid var(--c-bg-medium);
  transition: background-color 75ms ease-in-out, border-color 75ms ease-in-out;
}
@media (min-width: 1000px) {
  .form .step button.addons-button .img-container {
    margin-right: 1.5rem;
  }
}
.form .step button.addons-button .img-container.active {
  background-color: var(--c-accent-main);
  border-color: var(--c-accent-main);
}
.form .step button.addons-button .img-container img {
  grid-column: auto;
  grid-row: auto;
  width: 12px;
  margin: 5px auto;
}
.form .step button.addons-button .name {
  font-size: var(--fs-300);
  font-weight: 700;
  margin-top: 1.08em;
}
@media (min-width: 1000px) {
  .form .step button.addons-button .name {
    font-size: var(--fs-500);
    font-weight: 500;
  }
}
.form .step button.addons-button .description {
  font-size: var(--fs-100);
  color: var(--c-text-medium);
}
@media (min-width: 1000px) {
  .form .step button.addons-button .description {
    font-size: var(--fs-300);
  }
}
.form .step button.addons-button .addition {
  grid-column: 3;
  grid-row: 1/span 2;
  font-size: var(--fs-100);
  color: var(--c-accent-main);
}
@media (min-width: 1000px) {
  .form .step button.addons-button .addition {
    font-size: var(--fs-300);
  }
}
.form .plans {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1000px) {
  .form .plans {
    flex-direction: row;
    min-height: 160px;
    gap: 1.125rem;
  }
  .form .plans button {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 0;
  }
}
.form .input-group {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 1em;
}
@media (min-width: 1000px) {
  .form .input-group {
    margin-bottom: 1.5em;
  }
}
.form .required-text {
  opacity: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-size: var(--fs-100);
  font-weight: 700;
  color: var(--c-accent-negative);
  transform: translateY(-3px);
}
.form .required-text.required {
  opacity: 1;
}
.form .interval-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--fs-300);
  font-weight: 700;
  color: var(--c-text-medium);
  margin-top: 1.5rem;
  padding: 0.875em;
  background-color: var(--c-bg-verylight);
  border-radius: 8px;
}
@media (min-width: 1000px) {
  .form .interval-toggle {
    margin-top: 2rem;
  }
}
.form .interval-toggle span {
  transition: color 100ms ease-in-out;
}
.form .interval-toggle .active {
  color: var(--c-text-dark);
}
.form .interval-toggle .toggler {
  width: 38px;
  height: 20px;
  background-color: var(--c-bg-dark);
  border: none;
  border-radius: 38px;
  margin: 0;
  margin-left: 1.5em;
  margin-right: 1.5em;
  position: relative;
}
.form .interval-toggle .toggler .circle {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  background-color: var(--c-bg-white);
  border-radius: 12px;
  transition: transform 100ms ease-in-out;
}
.form .interval-toggle .toggler .circle.active {
  transform: translateX(18px);
}
.form .summary {
  background-color: var(--c-bg-verylight);
  padding: 1rem;
  margin-bottom: 1.5rem;
  font-size: var(--fs-300);
}
@media (min-width: 1000px) {
  .form .summary {
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-bottom: 1.5em;
  }
}
.form .summary .plan {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}
.form .summary .plan.border {
  padding-bottom: 0.75em;
  border-bottom: 1px solid var(--c-bg-medium);
}
@media (min-width: 1000px) {
  .form .summary .plan.border {
    padding-bottom: 1.5em;
  }
}
.form .summary .plan .name {
  font-weight: 500;
  margin-bottom: 0.25em;
}
@media (min-width: 1000px) {
  .form .summary .plan .name {
    font-size: var(--fs-500);
    margin-bottom: 0.4375em;
  }
}
.form .summary .plan .price {
  font-weight: 700;
  grid-column: 2;
  grid-row: 1/span 2;
}
@media (min-width: 1000px) {
  .form .summary .plan .price {
    font-size: var(--fs-500);
  }
}
.form .summary .plan button {
  grid-column: 1;
  border: none;
  color: var(--c-text-medium);
  text-decoration: underline;
  width: auto;
  justify-self: flex-start;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
.form .summary .addon {
  display: flex;
  justify-content: space-between;
  margin-top: 0.85em;
}
.form .summary .addon .name {
  color: var(--c-text-medium);
}
@media (min-width: 1000px) {
  .form .summary .addon {
    margin-top: 1.143em;
  }
}
.form .total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  font-size: var(--fs-300);
}
@media (min-width: 1000px) {
  .form .total {
    padding: 0 1.5rem;
  }
}
.form .total .label {
  color: var(--c-text-medium);
}
.form .total .total-price {
  font-size: var(--fs-500);
  font-weight: 700;
  color: var(--c-accent-main);
}
@media (min-width: 1000px) {
  .form .total .total-price {
    font-size: var(--fs-700);
  }
}
.form label {
  display: inline-block;
  color: var(--c-text-dark);
  font-size: var(--fs-100);
  margin-bottom: 0.25em;
}
@media (min-width: 1000px) {
  .form label {
    font-size: var(--fs-300);
    margin-bottom: 0.5em;
  }
}
.form input {
  color: var(--c-text-dark);
  font-size: var(--fs-400);
  font-weight: 500;
  padding: 0.8em 0.9375em;
  width: 100%;
  border-color: var(--c-bg-medium);
  border-style: solid;
  border-radius: 4px;
  outline-color: var(--c-accent-main);
}
.form input.required {
  border-color: var(--c-accent-negative);
  outline-color: var(--c-accent-negative);
}
.form input::-moz-placeholder {
  color: var(--c-text-medium);
}
.form input::placeholder {
  color: var(--c-text-medium);
}
@media (min-width: 1000px) {
  .form input {
    font-size: var(--fs-500);
  }
}
.form .form-nav {
  width: 100%;
  padding: 1rem;
  display: flex;
  background-color: var(--c-bg-white);
  padding-left: max(50vw - 225px, 1rem);
  padding-right: max(50vw - 225px, 1rem);
}
@media (min-width: 1000px) {
  .form .form-nav {
    margin: 0;
    padding: 0;
    background-color: transparent;
    padding-left: 6.25rem;
    padding-right: 6.25rem;
    min-width: calc(450px + 12.5rem);
  }
}
.form .form-nav button {
  font-size: var(--fs-300);
  font-weight: 700;
  color: var(--c-text-medium);
  background: none;
  border: none;
}
@media (min-width: 1000px) {
  .form .form-nav button {
    font-size: var(--fs-500);
    font-weight: 500;
  }
}
.form .form-nav button.fancy {
  margin-left: auto;
  color: var(--c-text-white);
  background-color: var(--c-bg-dark);
  min-width: 6.06rem;
  padding: 0.875em 1.15em;
  border-radius: 4px;
  font-weight: 500;
}
@media (min-width: 1000px) {
  .form .form-nav button.fancy {
    padding: 1em 1.5em;
    margin-bottom: 1em;
    border-radius: 8px;
  }
}
.form .form-nav button.fancy.confirm {
  background-color: var(--c-accent-main);
}

.progress {
  position: absolute;
  width: 100%;
  height: 172px;
  top: 0;
  z-index: -1;
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding-top: 2rem;
  background-color: var(--c-accent-main);
  background-image: url("./images/bg-sidebar-mobile.svg");
  background-size: cover;
}
@media (min-width: 1000px) {
  .progress {
    flex-direction: column;
    justify-content: start;
    position: initial;
    z-index: 1;
    background-image: url("./images/bg-sidebar-desktop.svg");
    height: 100%;
    width: 100%;
    min-width: 274px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2.5rem;
    gap: 2rem;
    border-radius: 10px;
  }
}
@media (min-width: 1000px) {
  .progress .marker {
    display: grid;
    grid-template-columns: auto 1fr;
  }
}
.progress .marker .number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33px;
  height: 33px;
  border-radius: 33px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  margin-right: 1rem;
  font-size: var(--fs-300);
  font-weight: 700;
}
.progress .marker .number.active {
  background-color: var(--c-accent-secondary);
  border-color: var(--c-accent-secondary);
  color: var(--c-text-dark);
}
@media (min-width: 1000px) {
  .progress .marker .number {
    grid-column: 1;
    grid-row: span 2;
  }
}
.progress .marker .label {
  display: none;
}
@media (min-width: 1000px) {
  .progress .marker .label {
    display: block;
    grid-column: 2;
    color: var(--c-text-light);
    font-size: var(--fs-100);
    text-transform: uppercase;
    margin-bottom: 0.33em;
  }
}
.progress .marker .name {
  display: none;
}
@media (min-width: 1000px) {
  .progress .marker .name {
    display: block;
    grid-column: 2;
    color: var(--c-text-white);
    font-size: var(--fs-300);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}/*# sourceMappingURL=main.css.map */