@use "../globals/breakpoints" as *;

.header {
  display: grid;
  position: relative;

  background-image: url("images/image-header.jpg");
  background-size: min(750px, 200%);
  background-position-x: center;
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-color: var(--c-bg-accent2);

  nav {
    order: -1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 1.5em;
  }
  h1 {
    color: var(--c-text-white);
    font-size: var(--fs-900);
    font-weight: 900;
    letter-spacing: 6.25px;

    text-align: center;
    text-transform: uppercase;

    margin-top: 1.5em;
    margin-bottom: 1.15em;
  }
  .arrow {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8.25em;
  }
  .active {
    opacity: 50%;
  }
  .inactive {
    display: none;
  }
  @media (min-width: $bp-small) {
    .hamburger {
      display: none;
    }
    nav {
      padding-left: 2.5em;
      padding-right: 3em;
    }
    .inactive {
      display: flex;
    }
  }

  ul {
    --margin-size: 1em;

    position: absolute;
    top: 6.625rem;
    right: var(--margin-size);
    width: calc(100% - 2 * var(--margin-size));
    max-width: 350px;
    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    padding: 2.5em;

    &::before {
      position: absolute;
      top: -24px;
      right: 0;
      content: "";

      width: 0;
      height: 0;
      border-left: 24px solid transparent;
      border-top: 24px solid transparent;

      border-bottom: 24px solid white;
      border-right: 24px solid white;
    }
    li {
      color: var(--c-text-light);
      text-align: center;
      font-size: var(--fs-500);
    }
    .contact {
      font-family: var(--ff-fancy);
      text-transform: uppercase;
      font-size: var(--fs-200);
      color: var(--c-text-main);
      font-weight: 700;
      padding: 1.25em 2em;
      border-radius: 10rem;
      background-color: var(--c-bg-accent3);
    }
    @media (min-width: $bp-small) {
      position: initial;
      background: none;
      flex-direction: row;
      justify-content: right;
      gap: 3em;

      padding: 0;
      max-width: 100%;

      li {
        color: var(--c-text-white);
        font-size: var(--fs-400);
      }
      &::before {
        display: none;
      }
      .contact {
        background-color: white;
      }
    }
  }
}
