@use "../globals/breakpoints" as *;

.testimonials-heading {
  text-transform: uppercase;
  letter-spacing: 4px;
  color: var(--c-text-verylight);
  font-size: var(--fs-300);
  margin: 4em 0;
  text-align: center;

  @media (min-width: $bp-large) {
    font-size: var(--fs-500);
    margin-top: 8em;
  }
}
.testimonials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 5.65em;

  @media (min-width: $bp-large) {
    flex-direction: row;
    margin-bottom: 10.25em;
  }

  .item {
    display: grid;
    margin-bottom: 4.25em;

    &:last-of-type {
      margin-bottom: 0;
    }
    @media (min-width: $bp-large) {
      margin-bottom: 0;
    }

    .name {
      order: 2;
      font-size: var(--fs-400);
      font-family: var(--ff-fancy);
      font-weight: 900;
      margin-bottom: 0.6em;
    }
    .title {
      order: 3;
      font-size: var(--fs-100);
      color: var(--c-text-verylight);
      letter-spacing: -0.1px;
    }
    .quote {
      order: 1;
      font-size: var(--fs-400);
      color: var(--c-text-medium);
      letter-spacing: -0.13px;
      line-height: 1.75;
      margin-bottom: 1.75em;
      padding: 0 1.5em;
      max-width: 400px;

      @media (min-width: $bp-large) {
        margin-bottom: 3.75em;
      }
    }
    img {
      order: 0;
      border-radius: 100%;
      width: 72px;
      height: 72px;
      justify-self: center;
      margin-bottom: 2em;

      @media (min-width: $bp-large) {
        margin-bottom: 4em;
      }
    }
  }
}
