*,
*::before,
*::after {
  box-sizing: border-box;

  @media (prefers-reduced-motion: reduce) {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  font-family: Outfit, sans-serif;
  font-size: var(--fs-500);
  color: hsl(var(--c-white));
  background-color: hsl(var(--c-bg-dark));
  font-weight: 300;
  min-height: 100vh;
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}
