* {
  box-sizing: border-box;
}

html {
  font-family: var(--ff-main);
}

body {
  margin: 0;
}

h1,
h2,
h3 {
  font-family: var(--ff-fancy);
  margin: 0;
}

p {
  margin: 0;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

:root {
  --c-text-main: hsl(212, 27%, 19%);
  --c-text-medium: hsl(213, 9%, 39%);
  --c-text-light: hsl(232, 10%, 55%);
  --c-text-verylight: hsl(210, 4%, 67%);
  --c-text-white: hsl(0, 100%, 100%);
  --c-text-accent1: hsl(167, 40%, 24%);
  --c-text-accent1-light: hsl(168, 34%, 41%);
  --c-text-accent2: hsl(198, 62%, 26%);
  --c-bg-accent1: hsl(168, 44%, 70%);
  --c-bg-accent2: hsl(200, 100%, 62%);
  --c-bg-accent3: hsl(51, 100%, 49%);
}

:root {
  --ff-main: "Barlow", sans-serif;
  --ff-fancy: "Fraunces", serif;
  --fs-100: 0.875rem;
  --fs-200: 0.9375rem;
  --fs-300: 1rem;
  --fs-400: 1.125rem;
  --fs-500: 1.25rem;
  --fs-600: 1.75rem;
  --fs-700: 2rem;
  --fs-900: 2.5rem;
}
@media (min-width: 800px) {
  :root {
    --fs-700: 2.5rem;
    --fs-900: 3.5rem;
  }
}

.header {
  display: grid;
  position: relative;
  background-image: url("../images/image-header.jpg");
  background-size: min(750px, 200%);
  background-position-x: center;
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-color: var(--c-bg-accent2);
}
.header nav {
  order: -1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 1.5em;
}
.header h1 {
  color: var(--c-text-white);
  font-size: var(--fs-900);
  font-weight: 900;
  letter-spacing: 6.25px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 1.5em;
  margin-bottom: 1.15em;
}
.header .arrow {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8.25em;
}
.header .active {
  opacity: 50%;
}
.header .inactive {
  display: none;
}
@media (min-width: 800px) {
  .header .hamburger {
    display: none;
  }
  .header nav {
    padding-left: 2.5em;
    padding-right: 3em;
  }
  .header .inactive {
    display: flex;
  }
}
.header ul {
  --margin-size: 1em;
  position: absolute;
  top: 6.625rem;
  right: var(--margin-size);
  width: calc(100% - 2 * var(--margin-size));
  max-width: 350px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  padding: 2.5em;
}
.header ul::before {
  position: absolute;
  top: -24px;
  right: 0;
  content: "";
  width: 0;
  height: 0;
  border-left: 24px solid transparent;
  border-top: 24px solid transparent;
  border-bottom: 24px solid white;
  border-right: 24px solid white;
}
.header ul li {
  color: var(--c-text-light);
  text-align: center;
  font-size: var(--fs-500);
}
.header ul .contact {
  font-family: var(--ff-fancy);
  text-transform: uppercase;
  font-size: var(--fs-200);
  color: var(--c-text-main);
  font-weight: 700;
  padding: 1.25em 2em;
  border-radius: 10rem;
  background-color: var(--c-bg-accent3);
}
@media (min-width: 800px) {
  .header ul {
    position: initial;
    background: none;
    flex-direction: row;
    justify-content: right;
    gap: 3em;
    padding: 0;
    max-width: 100%;
  }
  .header ul li {
    color: var(--c-text-white);
    font-size: var(--fs-400);
  }
  .header ul::before {
    display: none;
  }
  .header ul .contact {
    background-color: white;
  }
}/*# sourceMappingURL=main.css.map */