* {
  box-sizing: border-box;
}

html {
  font-family: var(--ff-main);
}

body {
  margin: 0;
  background-color: var(--c-bg-main);
}

blockquote {
  margin: 0;
}

img {
  max-width: 100%;
}

h1,
h2,
h3 {
  font-family: var(--ff-fancy);
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

::-moz-selection {
  color: white;
  background-color: var(--c-bg-accent2);
}

::selection {
  color: white;
  background-color: var(--c-bg-accent2);
}

header ::-moz-selection {
  color: var(--c-bg-accent2);
  background-color: white;
}

header ::selection {
  color: var(--c-bg-accent2);
  background-color: white;
}

:root {
  --c-text-main: hsl(212, 27%, 19%);
  --c-text-medium: hsl(213, 9%, 39%);
  --c-text-light: hsl(232, 10%, 55%);
  --c-text-verylight: hsl(210, 4%, 67%);
  --c-text-white: hsl(0, 100%, 100%);
  --c-text-accent1: hsl(167, 40%, 24%);
  --c-text-accent1-light: hsl(168, 34%, 41%);
  --c-text-accent2: hsl(198, 62%, 26%);
  --c-bg-main: hsl(34, 100%, 99%);
  --c-bg-accent1: hsl(168, 44%, 70%);
  --c-bg-accent2: hsl(200, 100%, 62%);
  --c-bg-accent3: hsl(51, 100%, 49%);
  --c-bg-accent3-light: hsl(51, 100%, 77%);
  --c-bg-accent4: hsl(7, 99%, 70%);
  --c-image-graphic-design: hsl(170, 45%, 72%);
  --c-image-photography: hsl(199, 100%, 69%);
}

:root {
  --ff-main: "Barlow", sans-serif;
  --ff-fancy: "Fraunces", serif;
  --fs-100: 0.875rem;
  --fs-200: 0.9375rem;
  --fs-300: 1rem;
  --fs-400: 1.125rem;
  --fs-500: 1.25rem;
  --fs-600: 1.75rem;
  --fs-700: 2rem;
  --fs-900: 2.5rem;
}
@media (min-width: 850px) {
  :root {
    --fs-700: 2.5rem;
    --fs-900: 3.5rem;
  }
}
@media (max-width: 400px) {
  :root {
    --fs-900: 2.2rem;
  }
}
@media (max-width: 350px) {
  :root {
    --fs-900: 1.8rem;
    --fs-700: 1.6rem;
    --fs-600: 1.5rem;
  }
}

.header {
  display: grid;
  position: relative;
  background-image: url("../images/image-header.jpg");
  background-size: min(750px, 200%);
  background-position-x: center;
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-color: var(--c-bg-accent2);
}
.header nav {
  order: -1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 1.5em;
}
.header h1 {
  color: var(--c-text-white);
  font-size: var(--fs-900);
  font-weight: 900;
  letter-spacing: 6.25px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 1.5em;
  margin-bottom: 1.15em;
  padding-left: 1em;
  padding-right: 1em;
}
.header .arrow {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8.25em;
}
.header .active {
  opacity: 50%;
}
@media (min-width: 850px) {
  .header {
    background-size: min(1440px, 150%);
  }
  .header h1 {
    margin-top: 1.44em;
    margin-bottom: 1.71em;
    letter-spacing: 10.75px;
  }
  .header .hamburger {
    display: none;
  }
  .header nav {
    padding-left: 2.5em;
    padding-right: 3em;
  }
  .header .logo {
    width: 170px;
  }
  .header .arrow {
    margin-bottom: 20em;
  }
}
.header ul {
  --margin-size: 1em;
  position: absolute;
  top: 6.625rem;
  right: var(--margin-size);
  width: calc(100% - 2 * var(--margin-size));
  max-width: 350px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  padding: 2.5em;
}
.header ul.inactive {
  transform: translateY(-60%) scaleY(0%);
}
.header ul.open {
  animation: show;
  animation-duration: 250ms;
  animation-delay: 100ms;
  animation-fill-mode: both;
}
@keyframes show {
  0% {
    transform: translateY(-60%) scaleY(0%);
  }
  100% {
    transform: translateY(0%) scaleY(100%);
  }
}
.header ul.open li {
  animation: grow;
  animation-delay: 125ms;
  animation-duration: 250ms;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier();
}
@keyframes grow {
  0% {
    transform: scaleY(0%);
  }
  100% {
    transform: scaleY(100%);
  }
}
.header ul.open li:nth-of-type(1) {
  animation-delay: 190ms;
}
.header ul.open li:nth-of-type(2) {
  animation-delay: 255ms;
}
.header ul.open li:nth-of-type(3) {
  animation-delay: 320ms;
}
.header ul.open li:nth-of-type(4) {
  animation-delay: 385ms;
}
.header ul::before {
  position: absolute;
  top: -24px;
  right: 0;
  content: "";
  width: 0;
  height: 0;
  border-left: 24px solid transparent;
  border-top: 24px solid transparent;
  border-bottom: 24px solid white;
  border-right: 24px solid white;
}
.header ul li {
  color: var(--c-text-light);
  text-align: center;
  font-size: var(--fs-500);
}
.header ul .contact {
  font-family: var(--ff-fancy);
  text-transform: uppercase;
  font-size: var(--fs-200);
  color: var(--c-text-main);
  font-weight: 700;
  padding: 1.25em 2em;
  border-radius: 10rem;
  background-color: var(--c-bg-accent3);
  cursor: pointer;
  transition: background-color 65ms;
}
.header ul .contact:hover {
  background-color: var(--c-bg-accent3-light);
}
@media (min-width: 850px) {
  .header ul {
    position: initial;
    background: none;
    flex-direction: row;
    justify-content: right;
    gap: 3em;
    padding: 0;
    max-width: 100%;
  }
  .header ul.inactive {
    transform: translateY(0%) scaleY(100%);
  }
  .header ul li {
    color: var(--c-text-white);
    font-size: var(--fs-400);
  }
  .header ul::before {
    display: none;
  }
  .header ul .contact {
    background-color: white;
    transition: color 65ms, background-color 65ms;
  }
  .header ul .contact:hover {
    color: white;
    text-shadow: 0 0 1px hsla(0, 0%, 0%, 0.25);
    background-color: hsla(0, 100%, 100%, 0.45);
  }
}

.pitch {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 850px) {
  .pitch {
    grid-template-columns: 1fr 1fr;
  }
  .pitch .transform {
    order: -4;
  }
  .pitch .transform-img {
    order: -3;
  }
}
@media (min-width: 1700px) {
  .pitch {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .pitch .standout {
    order: -2;
  }
  .pitch .graphic-design {
    order: -1;
  }
}
.pitch img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.pitch .primary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 30rem;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
.pitch .primary h2 {
  font-size: var(--fs-700);
  font-weight: 900;
  margin-bottom: 0.85em;
  padding: 0 1em;
}
.pitch .primary p {
  font-size: var(--fs-400);
  color: var(--c-text-light);
  padding: 0 1.25em;
  line-height: 1.65;
  margin-bottom: 1.65em;
}
@media (min-width: 1200px) {
  .pitch .primary.standout {
    padding-right: 8em;
  }
}
@media (min-width: 850px) {
  .pitch .primary {
    text-align: left;
    min-height: 0;
    margin-top: 4em;
    margin-bottom: 4.25em;
    max-width: 700px;
    padding-left: min(10em, 24%);
    padding-right: 5em;
    margin-right: auto;
    margin-left: auto;
  }
  .pitch .primary.standout {
    padding-left: min(7em, 24%);
  }
  .pitch .primary h2 {
    margin-bottom: 1em;
    padding: 0;
    max-width: 15ch;
  }
  .pitch .primary p {
    padding: 0;
    margin-bottom: 2.2em;
  }
  .pitch .primary:nth-of-type(1) img {
    order: 1;
  }
  .pitch .primary a {
    align-self: start;
  }
}
.pitch .secondary {
  background-position-x: center;
  background-position-y: top;
  background-repeat: no-repeat;
  background-size: cover;
}
.pitch .secondary.graphic-design {
  color: var(--c-text-accent1);
  background-color: var(--c-image-graphic-design);
  background-image: url("../images/image-graphic-design.jpg");
}
.pitch .secondary.photography {
  color: var(--c-text-accent2);
  background-color: var(--c-image-photography);
  background-image: url("../images/image-photography.jpg");
}
.pitch .secondary h3 {
  font-size: var(--fs-600);
  font-weight: 900;
  margin-top: 14.2em;
  margin-bottom: 1em;
  padding: 0 1em;
}
.pitch .secondary p {
  font-size: var(--fs-300);
  line-height: 1.7;
  margin-bottom: 3.8em;
  padding: 0 1em;
  max-width: 380px;
  margin-left: auto;
  margin-right: auto;
}
.pitch a {
  font-family: var(--ff-fancy);
  text-transform: uppercase;
  font-weight: 900;
  padding-left: 0.75em;
  position: relative;
}
.pitch a:hover::before {
  opacity: 100%;
}
.pitch a::before {
  transition: opacity 100ms ease-in-out;
  content: "";
  width: 12ch;
  height: 10px;
  position: absolute;
  top: 14px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: -1;
  background-color: var(--c-bg-accent4);
  border-radius: 12ch;
  opacity: 25%;
}
.pitch a.yellow::before {
  background-color: var(--c-bg-accent3);
}
.pitch a.pink::before {
  background-color: var(--c-bg-accent4);
}

.testimonials-heading {
  text-transform: uppercase;
  letter-spacing: 4px;
  color: var(--c-text-verylight);
  font-size: var(--fs-300);
  margin: 4em 0;
  text-align: center;
}
@media (min-width: 1200px) {
  .testimonials-heading {
    font-size: var(--fs-500);
    margin-top: 8em;
  }
}

.testimonials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 5.65em;
}
@media (min-width: 1200px) {
  .testimonials {
    flex-direction: row;
    margin-bottom: 10.25em;
  }
}
.testimonials .item {
  display: grid;
  margin-bottom: 4.25em;
}
.testimonials .item:last-of-type {
  margin-bottom: 0;
}
@media (min-width: 1200px) {
  .testimonials .item {
    margin-bottom: 0;
  }
}
.testimonials .item .name {
  order: 2;
  font-size: var(--fs-400);
  font-family: var(--ff-fancy);
  font-weight: 900;
  margin-bottom: 0.6em;
}
.testimonials .item .title {
  order: 3;
  font-size: var(--fs-100);
  color: var(--c-text-verylight);
  letter-spacing: -0.1px;
}
.testimonials .item .quote {
  order: 1;
  font-size: var(--fs-400);
  color: var(--c-text-medium);
  letter-spacing: -0.13px;
  line-height: 1.75;
  margin-bottom: 1.75em;
  padding: 0 1.5em;
  max-width: 400px;
}
@media (min-width: 1200px) {
  .testimonials .item .quote {
    margin-bottom: 3.75em;
  }
}
.testimonials .item img {
  order: 0;
  border-radius: 100%;
  width: 72px;
  height: 72px;
  justify-self: center;
  margin-bottom: 2em;
}
@media (min-width: 1200px) {
  .testimonials .item img {
    margin-bottom: 4em;
  }
}

.footer {
  display: grid;
  background-color: var(--c-bg-accent1);
}
.footer .logo {
  justify-self: center;
  margin-bottom: 2.5em;
  width: 170px;
  filter: invert(65%) sepia(92%) saturate(274%) hue-rotate(118deg) brightness(90%) contrast(89%);
}
.footer a {
  color: var(--c-text-accent1-light);
  transition: color 65ms ease-in-out;
}
.footer a img {
  transition: all 65ms linear;
}
.footer a:hover {
  color: white;
}
.footer a:hover img {
  filter: brightness(0%) invert(100%);
}
.footer ul {
  justify-self: center;
  display: flex;
  justify-content: space-between;
  font-size: var(--fs-400);
}
.footer ul.site-links {
  margin-bottom: 4.88em;
  width: 100%;
  max-width: 300px;
}
.footer ul.site-links a {
  padding: 0.5em;
}
.footer ul.social-links {
  margin-bottom: 4.425em;
  width: 100%;
  max-width: 164px;
}
.footer ul.social-links a {
  padding: 0.25em 0.5em;
}
.footer ul.social-links img {
  transform: translateY(3px);
}
.footer .image-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 4em;
}
.footer .image-group img {
  width: 100%;
  height: 50vw;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 850px) {
  .footer .image-group {
    grid-template-columns: repeat(4, 1fr);
  }
  .footer .image-group img {
    height: 100%;
  }
}/*# sourceMappingURL=main.css.map */