@use "../globals/breakpoints" as *;
@use "../globals/typography" as *;
@use "../globals/utility" as *;

.dot-menu {
  position: relative;

  & > button {
    padding: 0.3rem;
    padding-inline: 0.5rem;

    img {
      width: 0.2306rem;
      @include breakpoint(medium) {
        width: 0.28875rem;
        display: block;
      }
    }
  }

  .menu {
    @extend .text-b-l;
    position: absolute;
    right: 0;
    top: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 12rem;
    padding: 1rem;
    gap: 1rem;

    @include modeTransition(transform 250ms ease-out, opacity 50ms ease-out);
    background: hsl(var(--c-bg-main-light));
    border-radius: 0.5rem;

    opacity: 0;
    transform: scale(0.85);
    pointer-events: none;
    transform-origin: top right;
    &.open {
      @include modeTransition(transform 175ms ease-out, opacity 175ms ease-out);
      transform: scale(1);
      opacity: 1;
      pointer-events: all;
    }

    button {
      @include halfTransition;

      color: hsl(var(--c-neutral));
      &.danger {
        color: hsl(var(--c-accent-danger));
      }
      &:hover {
        color: color-mix(in srgb, hsl(var(--c-neutral)), white 35%);
      }
      &.danger:hover {
        color: color-mix(in srgb, hsl(var(--c-accent-danger)), white 35%);
      }
    }
  }
}
