@use "../globals/utility" as *;

.dropdown-label > span {
  display: block;
  margin-bottom: 0.5rem;
}
select.hidden {
  position: absolute;
  left: -200vw;
  top: 0;
  width: 0;
  height: 0;

  &:focus-visible ~ div {
    outline: 1px solid hsl(var(--c-text-main));
    border-radius: 4px;
  }
}

.select-box {
  cursor: pointer;
  z-index: 1;

  .selection {
    display: block;
    width: 100%;
    padding: 0.6154em 1.2308em;

    background-color: hsl(var(--c-bg-main-light));
    border: 1px solid hsl(var(--c-neutral) / 25%);
    border-radius: 4px;

    position: relative;
    --rotationOffset: 0deg;
    &::after {
      content: url("../assets/icon-chevron-down.svg");
      position: absolute;
      display: flex;
      align-items: center;
      height: 100%;
      top: 0;
      right: 1.2308em;

      transform: rotate(var(--rotationOffset));
      transition: transform 75ms ease-in-out;
    }
    .expanded &::after {
      transform: rotate(calc(-180deg + var(--rotationOffset)));
    }
    .expanded & {
      border-color: hsl(var(--c-accent-main));
    }
  }
  .options {
    cursor: default;
    z-index: 1;
    position: absolute;
    pointer-events: none;

    --yOffset: 0px;
    top: var(--yOffset);

    @include customScrollbar;
    overflow-y: auto;
    max-height: 7.3125rem;

    display: flex;
    flex-direction: column;
    width: calc(100% - 4rem);
    padding: 0.75rem;
    padding-inline: 1rem;

    color: hsl(var(--c-neutral));
    background: hsl(var(--c-bg-main));
    box-shadow: 0 0 2px hsl(0 0% 0% / 15%);
    border-radius: 0.25rem;

    transform-origin: top;
    transform: translateY(-2.5em) scaleY(0);
    opacity: 0;
    transition: transform 0ms ease-out 80ms, opacity 75ms ease-out;
    &.expanded {
      pointer-events: all;
      transition: transform 150ms ease-out, opacity 150ms ease-out;
      transform: translateY(0) scaleY(1);
      opacity: 1;
    }

    span {
      position: relative;
      padding-top: 0.308em;
      padding-bottom: 0.308em;
      transition: color 75ms ease-out;
      &::before {
        content: "";
        position: absolute;
        top: calc(100% - 0.4em);
        width: 2.5ch;
        height: 2px;
        background-color: hsl(var(--c-accent-main) / 75%);
        opacity: 0;
        transform-origin: left;
        transform: scaleX(0);
        transition: transform 150ms ease-out, opacity 150ms ease-out;
      }
      &:hover {
        color: hsl(var(--c-text-main));
      }
      &.selected {
        color: hsl(var(--c-accent-main));

        &:hover {
          color: hsl(var(--c-accent-main-light));
        }
      }
    }
  }
}
