/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

:root {
  --c-accent-main: 242 48% 58%;
  --c-accent-main-light: 243 100% 82%;
  --c-accent-danger: 0 78% 63%;
  --c-accent-danger-light: 0 100% 80%;
  --c-neutral: 216 15% 57%;
  --c-text-main: 237 100% 4%;
  --c-lines-main: 221 69% 94%;
  --c-bg-main: 220 69% 97%;
  --c-bg-main-light: 0 0% 100%;
  --c-text-dark: 0 0% 100%;
  --c-lines-dark: 236 11% 27%;
  --c-bg-dark: 235 16% 15%;
  --c-bg-dark-light: 235 12% 19%;
}

.dark {
  --c-text-main: var(--c-text-dark);
  --c-lines-main: var(--c-lines-dark);
  --c-bg-main: var(--c-bg-dark);
  --c-bg-main-light: var(--c-bg-dark-light);
}

.c-text-main {
  color: hsl(var(--c-text-main));
}

.c-text-main-50 {
  color: hsl(var(--c-text-main)/50%);
}

.c-text-main-25 {
  color: hsl(var(--c-text-main)/25%);
}

.c-text-neutral {
  color: hsl(var(--c-neutral));
}

.c-text-accent {
  color: hsl(var(--c-accent-main));
}

.c-text-white {
  color: hsl(var(--c-text-dark));
}

:root {
  --ff-main: "Plus Jakarta Sans", sans-serif;
  --fs-400: 0.75rem;
  --fs-500: 0.8125rem;
  --fs-600: 0.9375rem;
  --fs-700: 1.125rem;
  --fs-800: 1.5rem;
}

.text-h-xl {
  font-size: var(--fs-800);
  font-weight: 700;
  line-height: 1.25;
}

.text-h-l {
  font-size: var(--fs-700);
  font-weight: 700;
  line-height: 1.2778;
}

.text-h-m {
  font-size: var(--fs-600);
  font-weight: 700;
  line-height: 1.2667;
}

.text-h-s {
  font-size: var(--fs-400);
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 2.4px;
}

.text-b-l, .text-input {
  font-size: var(--fs-500);
  font-weight: 500;
  line-height: 1.7692;
}

.text-b-m {
  font-size: var(--fs-400);
  font-weight: 700;
  line-height: 1.25;
}

body {
  font-family: var(--ff-main);
  color: hsl(var(--c-text-main));
  background-color: hsl(var(--c-bg-main));
}

::-moz-selection {
  color: hsl(var(--c-text-dark));
  background-color: hsl(var(--c-accent-main));
}

::selection {
  color: hsl(var(--c-text-dark));
  background-color: hsl(var(--c-accent-main));
}

.flow {
  --flow-size: 1rem;
}
.flow > *:where(:not(:last-child)) {
  margin-bottom: var(--flow-size);
}

.mock-modal {
  background-color: hsl(var(--c-bg-main-light));
  width: 100%;
  padding: 2rem;
  border-radius: 6px;
}

.inactive {
  opacity: 25%;
}

.button, .button-danger, .button-secondary, .button-primary, .button-primary-l {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-size: var(--fs-500);
  font-weight: 700;
  line-height: 1.769;
  padding-bottom: 0.61538em;
  padding-top: 0.6923em;
  padding-inline: 1.633em;
  border-radius: 20px;
  border: none;
  width: 100%;
  display: block;
  transition: background-color 125ms ease-out;
}
.button:not(.inactive), .button-danger:not(.inactive), .button-secondary:not(.inactive), .button-primary:not(.inactive), .button-primary-l:not(.inactive) {
  cursor: pointer;
}
.button-primary, .button-primary-l {
  background-color: hsl(var(--c-accent-main));
  color: hsl(var(--c-text-dark));
}
.button-primary:not(.inactive):hover, .button-primary-l:not(.inactive):hover {
  background-color: hsl(var(--c-accent-main-light));
}
.button-primary-l {
  font-size: var(--fs-600);
  line-height: 1.26;
  padding-top: 1em;
  padding-bottom: 0.933em;
  border-radius: 24px;
}
.button-secondary {
  background-color: hsl(var(--c-accent-main)/10%);
  color: hsl(var(--c-accent-main));
}
.button-secondary:not(.inactive):hover {
  background-color: hsl(var(--c-accent-main)/25%);
}
.dark .button-secondary {
  background-color: hsl(var(--c-text-dark));
}
.dark .button-secondary:not(.inactive):hover {
  background-color: hsl(var(--c-text-dark));
}
.button-danger {
  background-color: hsl(var(--c-accent-danger));
  color: hsl(var(--c-text-dark));
}
.button-danger:not(.inactive):hover {
  background-color: hsl(var(--c-accent-danger-light));
}

.checkbox {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-size: var(--fs-400);
  font-weight: 700;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.75rem;
  padding-left: 2.75rem;
  background-color: hsl(var(--c-bg-main));
  border-radius: 4px;
  transition: background-color 125ms ease-out;
  position: relative;
}
.checkbox:hover, .checkbox:focus-within {
  background-color: hsl(var(--c-accent-main)/25%);
}
.checkbox .checkmark::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  left: 0.75rem;
  display: flex;
  justify-content: center;
  width: 1rem;
  height: 1rem;
  border-radius: 2px;
  background-color: hsl(var(--c-bg-main-light));
  border: 1px solid hsl(var(--c-neutral)/25%);
}
.checkbox input[type=checkbox]:checked ~ .checkmark::after {
  background-color: hsl(var(--c-accent-main));
  content: url("../assets/icon-check.svg");
  border: none;
}
.checkbox input[type=checkbox]:checked ~ span:not(.checkmark) {
  text-decoration: line-through;
  text-decoration-thickness: 1px;
  opacity: 50%;
}
.checkbox input[type=checkbox] {
  width: 0;
  height: 0;
}

.text-input {
  display: block;
  position: relative;
}
.text-input.empty input,
.text-input.empty textarea {
  border-color: hsl(var(--c-accent-danger));
}
.text-input.empty::before {
  content: "Can't be empty";
  position: absolute;
  right: 1.2308em;
  top: calc(0.6154em + 1px);
  color: hsl(var(--c-accent-danger));
}

textarea {
  resize: none;
  min-width: 100%;
  max-width: 100%;
  min-height: 7rem;
}

textarea,
input[type=text] {
  width: 100%;
  padding: 0.6154em 1.2308em;
  background-color: transparent;
  border: 1px solid hsl(var(--c-neutral)/25%);
  border-radius: 4px;
  outline: none;
}
textarea::-moz-placeholder, input[type=text]::-moz-placeholder {
  color: hsla(0, 0%, 0%, 0.25);
}
textarea::placeholder,
input[type=text]::placeholder {
  color: hsla(0, 0%, 0%, 0.25);
}
.dark textarea::-moz-placeholder, .dark input[type=text]::-moz-placeholder {
  color: hsla(0, 0%, 100%, 0.25);
}
.dark textarea::placeholder,
.dark input[type=text]::placeholder {
  color: hsla(0, 0%, 100%, 0.25);
}/*# sourceMappingURL=main.css.map */