@use "../globals/breakpoints" as *;
@use "../globals/utility" as *;

.content .column {
  margin-right: 1rem;
  min-width: 17.5rem;
  &:last-child {
    margin-right: 0;
  }

  animation: column-fade-in;
  animation-duration: 250ms;
  animation-timing-function: ease-out;
  animation-fill-mode: both;

  .title {
    margin-bottom: 1.5rem;
    display: flex;

    .dot {
      width: 0.9375rem;
      height: 0.9375rem;
      margin-right: 0.75rem;
      border-radius: 5rem;
      background-color: hsl(var(--c-accent-main));
    }
  }

  @for $i from 1 through 5 {
    &:nth-child(5n + #{$i}) .dot {
      background-color: hsl(var(--c-dot-#{$i}));
    }
  }

  .task {
    cursor: pointer;
    width: 17.5rem;
    padding: 1.5rem 1rem;
    margin-bottom: 1.25rem;
    border-radius: 0.5rem;

    @include modeTransition;
    background-color: hsl(var(--c-bg-main-light));

    h4 {
      @include halfTransition;
      margin-bottom: 0.5333em;
    }
    &:hover h4 {
      color: hsl(var(--c-accent-main));
    }
    &:active h4,
    &.active h4 {
      color: hsl(var(--c-accent-main-light));
      transition-duration: 25ms;
    }
    &.active {
      outline: 1px solid hsl(var(--c-accent-main-light));
    }
  }

  &.empty {
    @include modeTransition;
    margin-top: 2.4375rem;
    height: calc(100% - 2.4375rem);
    background-color: hsl(220 63% 75% / 10%);
    .dark & {
      background-color: hsl(var(--c-neutral) / 2%);
    }

    border-radius: 0.5rem;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    p {
      @include halfTransition;
    }
    &:hover p {
      color: hsl(var(--c-accent-main));
    }
  }
}
@keyframes column-fade-in {
  0% {
    opacity: 0%;
    transform: translateX(4rem);
  }
  100% {
    opacity: 100%;
    transform: translateX(0);
  }
}
