@use "../globals/breakpoints" as *;
@use "../globals/utility" as *;

.content {
  display: grid;
  grid-template-columns: auto 1fr;

  .sidebar-offsetter {
    transition: width 250ms ease-out;
    &.hide {
      transition: width 250ms ease-in 175ms;
      width: 0px;
    }
    @include breakpoint(medium) {
      width: var(--sidebar-width-medium);
    }
    @include breakpoint(large) {
      width: var(--sidebar-width-large);
    }
  }
  .content-container {
    overflow: auto;

    height: calc(100vh - var(--header-height-small));
    @include breakpoint(medium) {
      height: calc(100vh - var(--header-height-medium));
    }
    @include breakpoint(large) {
      height: calc(100vh - var(--header-height-large));
    }

    &::-webkit-scrollbar {
      width: 7px;
      height: 7px;
      @include breakpoint(large) {
        width: 9px;
        height: 9px;
      }
    }
    scrollbar-width: thin;
    scrollbar-color: hsl(var(--c-accent-main)) hsl(var(--c-lines-main));
    &::-webkit-scrollbar-thumb {
      border-radius: 3px;
      background-color: hsl(var(--c-accent-main));
      &:hover {
        background-color: color-mix(
          in srgb,
          hsl(var(--c-accent-main)),
          hsl(0, 0%, 100%) 15%
        );
      }
    }
    &::-webkit-scrollbar-track {
      border-radius: 3px;
      background-color: hsl(var(--c-neutral) / 20%);
    }
    &::-webkit-scrollbar-corner {
      background: transparent;
    }
  }
}
