.modal-fade {
  z-index: 1;
  position: absolute;
  width: 100vw;
  height: 100vh;

  animation: fade-in;
  animation-duration: 250ms;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
}
@keyframes fade-in {
  0% {
    background-color: hsl(0, 0%, 0%, 0%);
  }
  100% {
    background-color: hsl(0, 0%, 0%, 50%);
  }
}
