@use "../globals/breakpoints" as *;

.modal-fade {
  z-index: 1;
  position: absolute;
  width: 100vw;
  height: 100vh;

  animation: fade-in;
  animation-duration: 250ms;
  animation-timing-function: ease-out;
  animation-fill-mode: both;

  &.noanimation-smallscreens {
    animation-duration: 0ms;
    @include breakpoint(medium) {
      animation-duration: 250ms;
    }
  }
  &.full-screen {
    z-index: 5;
  }
}
@keyframes fade-in {
  0% {
    background-color: hsl(0, 0%, 0%, 0%);
  }
  100% {
    background-color: hsl(0, 0%, 0%, 50%);
  }
}
