/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --bp-small: 700px;
  --bp-medium: 1200px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  font-family: Outfit, sans-serif;
  font-size: var(--fs-500);
  color: hsl(var(--c-white));
  background-color: hsl(var(--c-bg-dark));
  font-weight: 300;
  min-height: 100vh;
}

img {
  max-width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

:root {
  --c-white: 0 0% 100%;
  --c-bg-medium: 223 36% 14%;
  --c-bg-dark: 223 30% 9%;
  --c-accent-main: 0 97% 63%;
  --c-accent-neutral: 223 23% 46%;
  --c-button-dark: 224 30% 9%;
}

.bg-dark {
  background-color: hsl(var(--c-bg-dark));
}

.bg-medium {
  background-color: hsl(var(--c-bg-medium));
}

.text-white {
  color: hsl(var(--c-white));
}

.text-white-75 {
  color: hsl(var(--c-white)/0.75);
}

.text-white-50 {
  color: hsl(var(--c-white)/0.5);
}

:root {
  --fs-100: 0.6875rem;
  --fs-200: 0.75rem;
  --fs-300: 0.8125rem;
  --fs-400: 0.875rem;
  --fs-500: 0.9375rem;
  --fs-600: 1rem;
  --fs-700: 1.125rem;
  --fs-800: 1.25rem;
  --fs-900: 1.5rem;
  --fs-1000: 2rem;
}

.fs-100 {
  font-size: var(--fs-100);
}

.fs-200 {
  font-size: var(--fs-200);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-700 {
  font-size: var(--fs-700);
}

.fs-800 {
  font-size: var(--fs-800);
}

.fs-900 {
  font-size: var(--fs-900);
}

.fs-1000 {
  font-size: var(--fs-1000);
}

.text-h-l {
  font-weight: 300;
  font-size: var(--fs-800);
  letter-spacing: -0.5px;
}
@media (min-width: 700px) {
  .text-h-l {
    font-size: var(--fs-1000);
  }
}

.text-h-m {
  font-weight: 300;
  font-size: var(--fs-600);
}
@media (min-width: 700px) {
  .text-h-m {
    font-size: var(--fs-900);
  }
}

.text-h-s {
  font-weight: 500;
  font-size: var(--fs-500);
}
@media (min-width: 700px) {
  .text-h-s {
    font-size: var(--fs-900);
  }
}

.text-h-xs {
  font-weight: 500;
  font-size: var(--fs-400);
}
@media (min-width: 700px) {
  .text-h-xs {
    font-size: var(--fs-700);
  }
}

.text-b-m {
  font-weight: 300;
  font-size: var(--fs-200);
}
@media (min-width: 700px) {
  .text-b-m {
    font-size: var(--fs-400);
  }
}

.text-b-s {
  font-weight: 300;
  font-size: var(--fs-100);
}
@media (min-width: 700px) {
  .text-b-s {
    font-size: var(--fs-300);
  }
}

.flow > *:where(:not(:last-child)) {
  margin-bottom: var(--flow-space, 1rem);
}

input {
  width: 100%;
  color: hsl(var(--c-white));
  caret-color: hsl(var(--c-accent-main));
  background-color: transparent;
  border: none;
  border-bottom: 1px solid hsl(var(--c-accent-neutral));
  outline: none;
  cursor: pointer;
}
input::-moz-placeholder {
  color: hsl(var(--c-white 0.5));
}
input::placeholder {
  color: hsl(var(--c-white 0.5));
}

.search-bar {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-inline: 1rem;
}
@media (min-width: 700px) {
  .search-bar {
    margin-top: 1.16rem;
    margin-bottom: 1.16rem;
    padding-inline: 1.5rem;
  }
}
@media (min-width: 1200px) {
  .search-bar {
    margin-top: 3.09rem;
    margin-bottom: 1.25rem;
  }
}
.search-bar img {
  width: var(--fs-900);
  height: var(--fs-900);
}
@media (min-width: 700px) {
  .search-bar img {
    width: var(--fs-1000);
    height: var(--fs-1000);
  }
}
.search-bar input {
  margin-left: 1em;
  padding-bottom: 0.625em;
  padding-top: 0.625em;
  border-color: transparent;
}
.search-bar input:focus {
  border-color: hsl(var(--c-accent-neutral));
}

.input-field {
  position: relative;
  z-index: 1;
}
.input-field:not(.error) > span {
  display: none;
}
.input-field.error > input {
  border-color: hsl(var(--c-accent-main));
}
.input-field input {
  padding: 1.066em;
}
.input-field input:focus {
  border-color: hsl(var(--c-white));
}
.input-field span {
  color: hsl(var(--c-accent-main));
  position: absolute;
  right: 1.308em;
  bottom: 35%;
  z-index: -1;
}

.sidebar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  padding: 1rem;
  background-color: hsl(var(--c-bg-medium));
  grid-column: 1/span 2;
}
@media (min-width: 700px) {
  .sidebar {
    padding: 1.25rem 1rem;
    margin-top: 1.5rem;
    margin-inline: 1.5rem;
    border-radius: 10px;
  }
}
@media (min-width: 1200px) {
  .sidebar {
    grid-column: 1;
    flex-direction: column;
    justify-content: start;
    min-height: calc(100vh - 4rem);
    padding: 2rem 1.75rem;
    margin: 2rem 0 2rem 2rem;
    border-radius: 20px;
    position: fixed;
  }
  .sidebar + * {
    margin-left: 7.5rem;
  }
}
.sidebar img {
  height: 1rem;
}
@media (min-width: 700px) {
  .sidebar img {
    height: 1.25rem;
  }
}
.sidebar img.profile {
  height: 1.5rem;
}
@media (min-width: 700px) {
  .sidebar img.profile {
    height: 2rem;
  }
}
.sidebar img.logo {
  width: 1.5rem;
  height: unset;
}
@media (min-width: 700px) {
  .sidebar img.logo {
    width: 2rem;
    margin-left: 0.5rem;
  }
}
@media (min-width: 1200px) {
  .sidebar img.logo {
    margin-left: 0;
    margin-top: 0.1875rem;
  }
}
.sidebar img.profile {
  border: 1px solid hsl(var(--c-white));
  border-radius: 50%;
}
@media (min-width: 1200px) {
  .sidebar img.profile {
    margin-top: auto;
  }
}
.sidebar .links {
  display: flex;
  align-items: center;
  gap: 2rem;
}
@media (min-width: 1200px) {
  .sidebar .links {
    flex-direction: column;
    gap: 2.5rem;
    margin-top: 4.6875rem;
    margin-bottom: 4.6875rem;
  }
}

.home {
  display: grid;
  grid-template-columns: auto 1fr;
}
.home .container {
  grid-column: 1/span 2;
}
@media (min-width: 1200px) {
  .home .container {
    grid-column: 2;
  }
}

.sidebar > .links > a {
  position: relative;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-size: cover;
          mask-size: cover;
}
.sidebar > .links > a .blend {
  position: absolute;
  background-color: hsl(var(--c-accent-neutral));
  width: 100%;
  height: 100%;
  transition: background-color 75ms ease-in-out;
}
.sidebar > .links > a .blend:hover {
  background-color: hsl(var(--c-accent-main));
}
.sidebar > .links > a .blend.active {
  background-color: hsl(var(--c-white));
}

.video {
  display: inline-block;
  position: relative;
  --circle-size: 2px;
}
@media (min-width: 700px) {
  .video {
    --circle-size: 3px;
  }
}
.video .thumbnail,
.video .thumbnail-container {
  border-radius: 8px;
}
.video .thumbnail-container {
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.video .thumbnail-container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 3;
  transition: background-color 250ms ease-out;
  background-color: hsla(0, 0%, 0%, 0);
}
.video .thumbnail-container:hover::before {
  background-color: hsla(0, 0%, 0%, 0.5);
}
.video .thumbnail-container:hover .play-button-container {
  opacity: 1;
}
.video .thumbnail-container .play-button-container {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 7;
  opacity: 0;
  transition: opacity 250ms ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
.video .thumbnail-container .play-button-container .play-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.1875rem;
  padding: 0.5625rem;
  background-color: hsla(0, 0%, 100%, 0.25);
  border-radius: 10rem;
}
.video .thumbnail-container .play-button-container .play-button img {
  width: 1.875rem;
  height: 1.875rem;
}
.video .thumbnail-container .play-button-container .play-button p {
  font-weight: 300;
  margin-right: 1rem;
}
.video.trending {
  --circle-size: 3px;
}
.video.trending::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 43%;
  background-image: linear-gradient(white, black);
  mix-blend-mode: multiply;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.video.trending .text-container {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 4;
  pointer-events: none;
  margin: 1rem;
}
@media (min-width: 700px) {
  .video.trending .text-container {
    margin: 1.5rem;
  }
}
.video.trending .thumbnail {
  width: 15rem;
  height: 8.75rem;
}
@media (min-width: 700px) {
  .video.trending .thumbnail {
    width: 29.375rem;
    height: 14.375rem;
  }
}
.video .text-container {
  display: grid;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
@media (min-width: 700px) {
  .video .text-container {
    margin-bottom: 1.5rem;
  }
}
@media (min-width: 1200px) {
  .video .text-container {
    margin-bottom: 2rem;
  }
}
.video .text-container .title {
  order: 2;
}
.video .text-container .info-group {
  order: 1;
  display: flex;
  align-items: center;
  margin-bottom: 0.636em;
  gap: 0.636em;
}
.video .text-container .info-group > *:where(:not(:last-child)) {
  display: flex;
  align-items: center;
}
.video .text-container .info-group > *:where(:not(:last-child))::after {
  content: "";
  width: var(--circle-size);
  height: var(--circle-size);
  border-radius: 50%;
  background-color: hsla(0, 0%, 100%, 0.5);
  margin-left: 0.636em;
}
.video .text-container .info-group .category-icon {
  width: 0.909em;
  height: 0.909em;
  margin-right: 0.364em;
}
@media (min-width: 700px) {
  .video .text-container .info-group .category-icon {
    width: 0.923em;
    height: 0.923em;
    margin-right: 0.46em;
  }
}

.content-container {
  margin-bottom: 1.5rem;
}
@media (min-width: 700px) {
  .content-container {
    margin-bottom: 2.5rem;
  }
}
.content-container h1,
.content-container h2 {
  margin-bottom: 1rem;
}
@media (min-width: 700px) {
  .content-container h1,
  .content-container h2 {
    margin-bottom: 1.5625rem;
  }
}
.content-container > * {
  margin-inline: 1rem;
}
@media (min-width: 700px) {
  .content-container > * {
    margin-inline: 1.5rem;
  }
}
@media (min-width: 1200px) {
  .content-container > * {
    margin-inline: 2.25rem;
  }
}

.content-grid.trending > *:where(:not(:last-child)) {
  margin-right: 1rem;
}
@media (min-width: 700px) {
  .content-grid.trending > *:where(:not(:last-child)) {
    margin-right: 2.5rem;
  }
}
.content-grid:not(.trending) {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(7.5rem, 1fr));
  -moz-column-gap: 0.9375rem;
       column-gap: 0.9375rem;
}
@media (min-width: 400px) {
  .content-grid:not(.trending) {
    grid-template-columns: repeat(auto-fill, minmax(10.625rem, 1fr));
  }
}
@media (min-width: 700px) {
  .content-grid:not(.trending) {
    grid-template-columns: repeat(auto-fill, minmax(11.875rem, 1fr));
    -moz-column-gap: 1.875rem;
         column-gap: 1.875rem;
  }
}
@media (min-width: 1050px) {
  .content-grid:not(.trending) {
    grid-template-columns: repeat(auto-fill, minmax(13.125rem, 1fr));
  }
}
@media (min-width: 1200px) {
  .content-grid:not(.trending) {
    -moz-column-gap: 2.5rem;
         column-gap: 2.5rem;
  }
}
@media (min-width: 1400px) {
  .content-grid:not(.trending) {
    grid-template-columns: repeat(auto-fill, minmax(15.625rem, 1fr));
    -moz-column-gap: 2.5rem;
         column-gap: 2.5rem;
  }
}

.x-scroll-container {
  white-space: nowrap;
  overflow-x: scroll;
  margin-inline: 0;
  font-size: 1rem;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
@media (min-width: 700px) {
  .x-scroll-container {
    font-size: 1.5rem;
  }
}
@media (min-width: 1200px) {
  .x-scroll-container {
    font-size: 2.25rem;
  }
}
.x-scroll-container::-webkit-scrollbar {
  display: none;
}

.x-scroller {
  display: inline-block;
  transition: transform 200ms ease-out;
}

.icon-button {
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  transition: background-color 125ms ease-in-out;
}
.icon-button .blend {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: background-color 125ms ease-in-out;
}

@media (min-width: 700px) {
  .trending .bookmark-button {
    right: 1.5rem;
  }
}

.bookmark-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  z-index: 5;
  width: 2rem;
  height: 2rem;
  background-color: hsl(var(--c-button-dark)/0.5);
  border-radius: 50%;
}
@media (min-width: 700px) {
  .bookmark-button {
    top: 1rem;
    right: 1rem;
  }
}
.bookmark-button .blend {
  background-color: hsl(var(--c-white));
}
.bookmark-button:hover {
  background-color: hsl(var(--c-white));
}
.bookmark-button:hover .blend {
  background-color: hsl(var(--c-button-dark));
}
.bookmark-button.pulse {
  animation: pulse 125ms ease-out;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.35);
  }
  100% {
    transform: scale(1);
  }
}/*# sourceMappingURL=main.css.map */