/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  font-family: Outfit, sans-serif;
  font-size: var(--fs-500);
  color: hsl(var(--c-white));
  background-color: hsl(var(--c-bg-dark));
  font-weight: 300;
  min-height: 100vh;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

:root {
  --c-white: 0 0% 100%;
  --c-bg-medium: 223 36% 14%;
  --c-bg-dark: 223 30% 9%;
  --c-accent-main: 0 97% 63%;
  --c-accent-neutral: 223 23% 46%;
}

.bg-dark {
  background-color: hsl(var(--c-bg-dark));
}

.bg-medium {
  background-color: hsl(var(--c-bg-medium));
}

.text-white {
  color: hsl(var(--c-white));
}

.text-white-75 {
  color: hsl(var(--c-white)/0.75);
}

.text-white-50 {
  color: hsl(var(--c-white)/0.5);
}

:root {
  --fs-100: 0.6875rem;
  --fs-200: 0.75rem;
  --fs-300: 0.8125rem;
  --fs-400: 0.875rem;
  --fs-500: 0.9375rem;
  --fs-600: 1rem;
  --fs-700: 1.125rem;
  --fs-800: 1.25rem;
  --fs-900: 1.5rem;
  --fs-1000: 2rem;
}

.fs-100 {
  font-size: var(--fs-100);
}

.fs-200 {
  font-size: var(--fs-200);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-700 {
  font-size: var(--fs-700);
}

.fs-800 {
  font-size: var(--fs-800);
}

.fs-900 {
  font-size: var(--fs-900);
}

.fs-1000 {
  font-size: var(--fs-1000);
}

.text-h-l {
  font-weight: 300;
  font-size: var(--fs-800);
  letter-spacing: -0.5px;
}
@media (min-width: 550px) {
  .text-h-l {
    font-size: var(--fs-1000);
  }
}

.text-h-m {
  font-weight: 300;
  font-size: var(--fs-600);
}
@media (min-width: 550px) {
  .text-h-m {
    font-size: var(--fs-900);
  }
}

.text-h-s {
  font-weight: 500;
  font-size: var(--fs-500);
}
@media (min-width: 550px) {
  .text-h-s {
    font-size: var(--fs-900);
  }
}

.text-h-xs {
  font-weight: 500;
  font-size: var(--fs-400);
}
@media (min-width: 550px) {
  .text-h-xs {
    font-size: var(--fs-700);
  }
}

.text-b-m {
  font-weight: 300;
  font-size: var(--fs-200);
}
@media (min-width: 550px) {
  .text-b-m {
    font-size: var(--fs-400);
  }
}

.text-b-s {
  font-weight: 300;
  font-size: var(--fs-100);
}
@media (min-width: 550px) {
  .text-b-s {
    font-size: var(--fs-300);
  }
}

.flow > *:where(:not(:last-child)) {
  margin-bottom: var(--flow-space, 1rem);
}

input {
  width: 100%;
  color: hsl(var(--c-white));
  caret-color: hsl(var(--c-accent-main));
  background-color: transparent;
  border: none;
  border-bottom: 1px solid hsl(var(--c-accent-neutral));
  outline: none;
  cursor: pointer;
}
input::-moz-placeholder {
  color: hsl(var(--c-white 0.5));
}
input::placeholder {
  color: hsl(var(--c-white 0.5));
}

.search-bar {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
@media (min-width: 550px) {
  .search-bar {
    margin-top: 1.16rem;
    margin-bottom: 1.16rem;
  }
}
@media (min-width: 800px) {
  .search-bar {
    margin-top: 3.09rem;
    margin-bottom: 1.25rem;
  }
}
.search-bar img {
  width: var(--fs-900);
  height: var(--fs-900);
}
@media (min-width: 550px) {
  .search-bar img {
    width: var(--fs-1000);
    height: var(--fs-1000);
  }
}
.search-bar input {
  margin-left: 1em;
  padding-bottom: 0.625em;
  padding-top: 0.625em;
  border-color: transparent;
}
.search-bar input:focus {
  border-color: hsl(var(--c-accent-neutral));
}

.input-field {
  position: relative;
  z-index: 1;
}
.input-field:not(.error) > span {
  display: none;
}
.input-field.error > input {
  border-color: hsl(var(--c-accent-main));
}
.input-field input {
  padding: 1.066em;
}
.input-field input:focus {
  border-color: hsl(var(--c-white));
}
.input-field span {
  color: hsl(var(--c-accent-main));
  position: absolute;
  right: 1.308em;
  bottom: 35%;
  z-index: -1;
}

.sidebar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: hsl(var(--c-bg-medium));
  grid-column: 1/span 2;
}
@media (min-width: 550px) {
  .sidebar {
    padding: 1.25rem 1rem;
    margin-top: 1.5rem;
    margin-inline: 1.5rem;
    border-radius: 10px;
  }
}
@media (min-width: 800px) {
  .sidebar {
    grid-column: 1;
    flex-direction: column;
    justify-content: start;
    min-height: calc(100vh - 4rem);
    padding: 2rem 1.75rem;
    margin: 2rem 0 2rem 2rem;
    border-radius: 20px;
    position: fixed;
  }
  .sidebar + * {
    margin-left: 7.5rem;
  }
}
.sidebar img {
  height: 1rem;
}
@media (min-width: 550px) {
  .sidebar img {
    height: 1.25rem;
  }
}
.sidebar img.profile {
  height: 1.5rem;
}
@media (min-width: 550px) {
  .sidebar img.profile {
    height: 2rem;
  }
}
.sidebar img.logo {
  width: 1.5rem;
  height: unset;
}
@media (min-width: 550px) {
  .sidebar img.logo {
    width: 2rem;
    margin-left: 0.5rem;
  }
}
@media (min-width: 800px) {
  .sidebar img.logo {
    margin-left: 0;
    margin-top: 0.1875rem;
  }
}
.sidebar img.profile {
  border: 1px solid hsl(var(--c-white));
  border-radius: 50%;
}
@media (min-width: 800px) {
  .sidebar img.profile {
    margin-top: auto;
  }
}
.sidebar .links {
  display: flex;
  align-items: center;
  gap: 2rem;
}
@media (min-width: 800px) {
  .sidebar .links {
    flex-direction: column;
    gap: 2.5rem;
    margin-top: 4.6875rem;
    margin-bottom: 4.6875rem;
  }
}

.home {
  display: grid;
  grid-template-columns: auto 1fr;
}
.home .container {
  grid-column: 1/span 2;
  padding-inline: 1rem;
}
@media (min-width: 550px) {
  .home .container {
    padding-inline: 1.5rem;
  }
}
@media (min-width: 800px) {
  .home .container {
    grid-column: 2;
  }
}

.sidebar > .links > a {
  position: relative;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-size: cover;
          mask-size: cover;
}
.sidebar > .links > a .blend {
  position: absolute;
  background-color: hsl(var(--c-accent-neutral));
  width: 100%;
  height: 100%;
  transition: background-color 75ms ease-in-out;
}
.sidebar > .links > a .blend:hover {
  background-color: hsl(var(--c-accent-main));
}
.sidebar > .links > a .blend.active {
  background-color: hsl(var(--c-white));
}

.video {
  display: inline-block;
}
.video img {
  width: 240px;
  height: 140px;
  -o-object-fit: cover;
     object-fit: cover;
}

.content-grid {
  margin-bottom: 1.5rem;
}
@media (min-width: 550px) {
  .content-grid {
    margin-bottom: 2.5rem;
  }
}
.content-grid h1,
.content-grid h2 {
  margin-bottom: 1rem;
}
@media (min-width: 550px) {
  .content-grid h1,
  .content-grid h2 {
    margin-bottom: 1.5625rem;
  }
}

.x-scroll {
  white-space: nowrap;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.x-scroll::-webkit-scrollbar {
  display: none;
}/*# sourceMappingURL=main.css.map */