@use "../globals/breakpoints" as *;

.content-container {
  margin-bottom: 1.5rem;
  @media (min-width: $bp-small) {
    margin-bottom: 2.5rem;
  }

  h1,
  h2 {
    margin-bottom: 1rem;
    @media (min-width: $bp-small) {
      margin-bottom: 1.5625rem;
    }
  }

  & > * {
    margin-inline: 1rem;
    @media (min-width: $bp-small) {
      margin-inline: 1.5rem;
    }
  }
}

.content-grid {
  &.trending {
    & > *:where(:not(:last-child)) {
      margin-right: 1rem;
      @media (min-width: $bp-small) {
        margin-right: 2.5rem;
      }
    }
  }
  &:not(.trending) {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    column-gap: 1rem;
    row-gap: 1rem;
  }
}

.x-scroll-container {
  white-space: nowrap;
  overflow-x: scroll;
  margin-inline: 0;

  //used to control "margin" size in HorizontalScroll.tsx
  font-size: 1rem;
  @media (min-width: $bp-small) {
    font-size: 1.5rem;
  }

  //hide scrollbar
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.x-scroller {
  display: inline-block;
  transition: transform 200ms ease-out;
}
