@use "../globals/breakpoints" as *;

input {
  width: 100%;
  color: hsl(var(--c-white));
  caret-color: hsl(var(--c-accent-main));
  background-color: transparent;
  border: none;
  border-bottom: 1px solid hsl(var(--c-accent-neutral));
  outline: none;
  cursor: pointer;
  &::placeholder {
    color: hsl(var(--c-white 0.5));
  }
}

.search-bar {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-inline: 1rem;

  @media (min-width: $bp-small) {
    margin-top: 1.16rem;
    margin-bottom: 1.16rem;
    padding-inline: 1.5rem;
  }
  @media (min-width: $bp-medium) {
    margin-top: 3.09rem;
    margin-bottom: 1.25rem;
  }

  img {
    width: var(--fs-900);
    height: var(--fs-900);

    @media (min-width: $bp-small) {
      width: var(--fs-1000);
      height: var(--fs-1000);
    }
  }
  input {
    margin-left: 1em;
    padding-bottom: 0.625em;
    padding-top: 0.625em;
    border-color: transparent;

    &:focus {
      border-color: hsl(var(--c-accent-neutral));
    }
  }
}

.input-field {
  position: relative;
  z-index: 1;

  &:not(.error) > span {
    display: none;
  }
  &.error > input {
    border-color: hsl(var(--c-accent-main));
  }

  input {
    padding: 1.066em;
    &:focus {
      border-color: hsl(var(--c-white));
    }
  }
  span {
    color: hsl(var(--c-accent-main));
    position: absolute;
    right: 1.308em;
    bottom: 35%;
    z-index: -1;
  }
}
