:root {
  --c-bg-white: #ffffff;
  --c-bg-verylight: #f8f9ff;
  --c-bg-light: #eff5ff;
  --c-bg-medium: #d6d9e6;
  --c-bg-dark: #022959;
  --c-bg-dark-active: #164a8a;

  --c-text-white: #ffffff;
  --c-text-light: #abbcff;
  --c-text-medium: #9699aa;
  --c-text-dark: #022959;

  --c-accent-main: #483eff;
  --c-accent-main-light: #928cff;
  --c-accent-secondary: #bee2fd;
  --c-accent-negative: #ee374a;
}
