:root {
  --ff-main: "Ubuntu";

  --fs-100: 0.75rem; //12
  --fs-300: 0.875rem; //14
  --fs-400: 0.9375rem; //15
  --fs-500: 1rem; //16
  --fs-700: 1.25rem; //20
  --fs-800: 1.5rem; //24
  --fs-900: 2rem; //32
}
