@use "../globals/breakpoints" as *;

$top-padding: 6.19rem;
$max-width: 450px;

@media (min-width: $bp-large) {
  main {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto 1fr;
  }
}

.form {
  position: relative;
  padding-top: $top-padding;

  @media (min-width: $bp-large) {
    grid-row: 2;
    display: flex;
    padding: 1rem;
    margin: 1rem auto;
    max-width: 940px;
    height: 600px;
    background-color: var(--c-bg-white);
    border-radius: 15px;
  }

  header {
    h1 {
      margin-bottom: 0.375em;
      @media (min-width: $bp-large) {
        font-size: var(--fs-900);
      }
    }
    p {
      color: var(--c-text-medium);
      font-size: var(--fs-500);
      line-height: 1.56;
      margin-bottom: 1.375em;
      @media (min-width: $bp-large) {
        margin-bottom: 2.25em;
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: calc(100vh - $top-padding);

    @media (min-width: $bp-large) {
      height: auto;
    }
  }
  .step {
    background-color: var(--c-bg-white);
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1.5rem;
    padding: 2rem 1.5rem;
    border-radius: 10px;

    max-width: $max-width;
    min-width: min(calc(100% - 2rem), $max-width);

    @media (min-width: $bp-large) {
      margin: 0;
      padding-top: 2.5rem;
      padding-left: 6.25rem;
      padding-right: 6.25rem;
      max-width: initial;
      min-width: calc($max-width + 12.5rem);
    }

    &.thanks {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;

      padding-top: 5rem;
      padding-bottom: 5rem;
      img {
        width: 56px;
        margin-bottom: 1.5em;
      }
      a {
        font-weight: 500;
        color: var(--c-accent-main);
        text-decoration: none;

        &:hover,
        &:active {
          opacity: 0.75;
        }
      }
    }
    button {
      display: grid;
      grid-template-columns: auto 1fr;
      align-items: center;
      width: 100%;
      background-color: transparent;
      border: 1px solid var(--c-bg-medium);
      border-radius: 8px;
      margin-bottom: 0.75em;
      padding: 0 1em;

      transition: border-color 75ms ease-in-out,
        background-color 75ms ease-in-out;

      &.selected {
        border-color: var(--c-accent-main);
        background-color: var(--c-bg-verylight);
      }
      img {
        grid-column: 1;
        grid-row: span 3;
        align-self: flex-start;
        margin-right: 0.875em;
        margin-top: max(1.065em, 35%);
      }
      p {
        grid-column: 2;
        text-align: left;

        &.name {
          font-size: var(--fs-500);
          font-weight: 500;
          color: var(--c-text-dark);
          margin-top: 0.875em;
          margin-bottom: 0.4375em;
        }
        &.price {
          font-size: var(--fs-300);
          color: var(--c-text-medium);
          margin-bottom: 0.4375em;
        }
        &.savings {
          font-size: var(--fs-100);
          color: var(--c-text-dark);
        }
        &:last-of-type {
          margin-bottom: 1.29em;
        }
      }

      &.addons-button {
        grid-template-columns: auto 1fr auto;

        .img-container {
          grid-column: 1;
          grid-row: span 2;
          margin-right: 1em;

          width: 20px;
          height: 20px;
          border-radius: 4px;
          border: 1px solid var(--c-bg-medium);

          transition: background-color 75ms ease-in-out,
            border-color 75ms ease-in-out;

          &.active {
            background-color: var(--c-accent-main);
            border-color: var(--c-accent-main);
          }
          img {
            grid-column: auto;
            grid-row: auto;
            width: 12px;
            margin: 5px auto;
          }
        }
        .name {
          font-size: var(--fs-300);
          font-weight: 700;
          margin-top: 1.08em;
        }
        .description {
          font-size: var(--fs-100);
          color: var(--c-text-medium);
        }
        .addition {
          grid-column: 3;
          grid-row: 1 / span 2;
          font-size: var(--fs-100);
          color: var(--c-accent-main);
        }
      }
    }
  }
  .input-group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 1em;

    @media (min-width: $bp-large) {
      margin-bottom: 1.5em;
    }
  }
  .required-text {
    display: none;
    font-size: var(--fs-100);
    font-weight: 700;
    color: var(--c-accent-negative);
    transform: translateY(-3px);

    &.required {
      display: inline;
    }
  }
  .interval-toggle {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: var(--fs-300);
    font-weight: 700;
    color: var(--c-text-medium);

    margin-top: 1.5rem;
    padding: 0.875em;
    background-color: var(--c-bg-verylight);
    border-radius: 8px;

    span {
      transition: color 100ms ease-in-out;
    }
    .active {
      color: var(--c-text-dark);
    }
    .toggler {
      width: 38px;
      height: 20px;
      background-color: var(--c-bg-dark);
      border: none;
      border-radius: 38px;
      margin: 0;
      margin-left: 1.5em;
      margin-right: 1.5em;

      position: relative;
      .circle {
        position: absolute;
        top: 4px;
        left: 4px;

        width: 12px;
        height: 12px;
        background-color: var(--c-bg-white);
        border-radius: 12px;

        transition: transform 100ms ease-in-out;

        &.active {
          transform: translateX(18px);
        }
      }
    }
  }
  .summary {
    background-color: var(--c-bg-verylight);
    padding: 1rem;
    margin-bottom: 1.5rem;
    font-size: var(--fs-300);

    .plan {
      display: grid;
      grid-template-columns: 1fr auto;
      align-items: center;

      &.border {
        padding-bottom: 0.75em;
        border-bottom: 1px solid var(--c-bg-medium);
      }
      .name {
        font-weight: 500;
        margin-bottom: 0.25em;
      }
      .price {
        font-weight: 700;
        grid-column: 2;
        grid-row: 1 / span 2;
      }
      button {
        grid-column: 1;
        border: none;
        color: var(--c-text-medium);
        text-decoration: underline;
        width: auto;
        justify-self: flex-start;
        padding: 0;
        margin: 0;
        cursor: pointer;
      }
    }
    .addon {
      display: flex;
      justify-content: space-between;
      margin-top: 0.85em;

      .name {
        color: var(--c-text-medium);
      }
    }
  }
  .total {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    font-size: var(--fs-300);

    .label {
      color: var(--c-text-medium);
    }
    .total-price {
      font-size: var(--fs-500);
      font-weight: 700;
      color: var(--c-accent-main);
    }
  }

  label {
    display: inline-block;
    color: var(--c-text-dark);
    font-size: var(--fs-100);
    margin-bottom: 0.25em;

    @media (min-width: $bp-large) {
      font-size: var(--fs-300);
      margin-bottom: 0.5em;
    }
  }
  input {
    color: var(--c-text-dark);
    font-size: var(--fs-400);
    font-weight: 500;
    padding: 0.8em 0.9375em;
    width: 100%;
    border-color: var(--c-bg-medium);
    border-style: solid;
    border-radius: 4px;
    outline-color: var(--c-accent-main);

    &.required {
      border-color: var(--c-accent-negative);
      outline-color: var(--c-accent-negative);
    }
    &::placeholder {
      color: var(--c-text-medium);
    }
    @media (min-width: $bp-large) {
      font-size: var(--fs-500);
    }
  }

  .form-nav {
    width: 100%;
    padding: 1rem;
    display: flex;
    background-color: var(--c-bg-white);

    padding-left: max(calc(50vw - $max-width * 0.5), 1rem);
    padding-right: max(calc(50vw - $max-width * 0.5), 1rem);

    @media (min-width: $bp-large) {
      margin: 0;
      padding: 0;
      background-color: transparent;

      padding-left: 6.25rem;
      padding-right: 6.25rem;
      min-width: calc($max-width + 12.5rem);
    }

    button {
      font-size: var(--fs-300);
      font-weight: 700;
      color: var(--c-text-medium);
      background: none;
      border: none;

      @media (min-width: $bp-large) {
        font-size: var(--fs-500);
        font-weight: 500;
      }

      &.fancy {
        margin-left: auto;
        color: var(--c-text-white);
        background-color: var(--c-bg-dark);
        min-width: 6.06rem;
        padding: 0.875em 1.15em;
        border-radius: 4px;
        font-weight: 500;

        @media (min-width: $bp-large) {
          padding: 1em 1.5em;
          margin-bottom: 1em;
          border-radius: 8px;
        }

        &.confirm {
          background-color: var(--c-accent-main);
        }
      }
    }
  }
}
