$top-padding: 6.19rem;

.form {
  position: relative;
  padding-top: $top-padding;

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - $top-padding);
  }
  .step {
    background-color: var(--c-bg-white);
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 2rem 1.5rem;
    border-radius: 10px;

    h1 {
      margin-bottom: 0.375em;
    }
    p {
      color: var(--c-text-medium);
      font-size: 1rem;
      line-height: 1.56;
      margin-bottom: 1.375em;
    }
    .input-group {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 1em;
    }
    label {
      display: inline-block;
      color: var(--c-text-dark);
      font-size: var(--fs-100);
      margin-bottom: 0.25em;
    }
    .required-text {
      display: none;
      font-size: var(--fs-100);
      font-weight: 700;
      color: var(--c-accent-negative);
      transform: translateY(-3px);

      &.required {
        display: inline;
      }
    }
    input {
      color: var(--c-text-dark);
      font-size: var(--fs-400);
      font-weight: 500;
      padding: 0.8em 0.9375em;
      width: 100%;
      border-color: var(--c-bg-medium);
      border-style: solid;
      border-radius: 4px;
      outline-color: var(--c-accent-main);

      &.required {
        border-color: var(--c-accent-negative);
        outline-color: var(--c-accent-negative);
      }
      &::placeholder {
        color: var(--c-text-medium);
      }
    }
  }
  .form-nav {
    padding: 1rem;
    display: flex;
    background-color: var(--c-bg-white);

    button {
      font-size: var(--fs-300);
      font-weight: 700;
      color: var(--c-text-medium);
      background: none;
      border: none;

      &.fancy {
        margin-left: auto;
        color: var(--c-text-white);
        background-color: var(--c-bg-dark);
        min-width: 6.06rem;
        padding: 0.875em 1.15em;
        border-radius: 4px;
        font-weight: 500;

        &.confirm {
          background-color: var(--c-accent-main);
        }
      }
    }
  }
}
