@use "../globals/breakpoints" as *;

.progress {
  position: absolute;
  width: 100%;
  height: 172px;
  top: 0;
  z-index: -1;

  display: flex;
  justify-content: center;

  gap: 1rem;

  background-color: var(--c-accent-main);
  background-image: url("./images/bg-sidebar-mobile.svg");
  background-size: cover;

  @media (min-width: $bp-large) {
    position: initial;
    z-index: 1;
    background-image: url("./images/bg-sidebar-desktop.svg");
    height: 100%;
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 10px;
  }

  .marker {
    margin-top: 2rem;

    .number {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 33px;
      height: 33px;
      border-radius: 33px;
      background-color: transparent;
      border: 1px solid white;
      color: white;

      font-size: var(--fs-300);
      font-weight: 700;

      &.active {
        background-color: var(--c-accent-secondary);
        border-color: var(--c-accent-secondary);
        color: var(--c-text-dark);
      }
    }
    .label {
      display: none;
    }
    .name {
      display: none;
    }
  }
}
